<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{CONSTANTS.GROUP_DETAIL.TITLE}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row class="group-detail">

      <ion-card class="detail-content">
        <ion-card-header color="primary">
          {{CONSTANTS.GROUP_DETAIL.DETAILS.TITLE}}
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-col>
              {{CONSTANTS.GROUP_DETAIL.DETAILS.GROUP_NUMBER}} : <br>
              {{CONSTANTS.GROUP_DETAIL.DETAILS.DAY}} : <br>
              {{CONSTANTS.GROUP_DETAIL.DETAILS.SLOT}} :<br>
              {{CONSTANTS.GROUP_DETAIL.DETAILS.LOCATION}}: <br>
              {{CONSTANTS.GROUP_DETAIL.DETAILS.TUTOR}} :
            </ion-col>
            <ion-col>
                {{group.number}} <br>
                {{groupWeekDay}}<br>
                {{getStartTime(firstSession.startTime)}} - {{getEndTime(firstSession.endTime)}}<br>
                {{firstSession.place}} <br>
                {{group.instructor.name}}
            </ion-col>
          </ion-row>
        </ion-card-content>
      </ion-card>



      <ion-card class="attendance-content">
        <ion-card-header color="primary">
          <span class="leftElement">
            {{CONSTANTS.GROUP_DETAIL.ATTENDANCES.TITLE}}
          </span>
          <!-- for calender implementation
          <p class="rightElement">
            <button (click)="switchToListView()" >
              <ion-icon name="list" color="primary"></ion-icon>
            </button>
             <button (click)="switchToCalendarView()">
            <ion-icon name="calendar" color="gray"></ion-icon>
            </button>
          </p> -->
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <div *ngIf="group.sessions && user.type==='STUDENT'">
              <!--student view-->
              <div ion-item *ngFor="let session of group.sessions">
                <span class="leftElement">
                  <ion-icon name="checkbox" *ngIf="attendanceIds.indexOf(session.id)>0"></ion-icon>
                  <ion-icon name="square" *ngIf="attendanceIds.indexOf(session.id)<=0"></ion-icon>
                  {{getSessionDate(session.startTime)}} {{getStartTime(session.startTime)}} - {{getEndTime(session.endTime)}}
                </span>
                <span class="rightElement">
                  <button ion-item (click)="verifyAttendance()">Verify</button>
                </span>
              </div>
            </div>

            <!-- tutor view-->
            <div *ngIf="group.sessions && user.type==='INSTRUCTOR'">
              <button ion-item *ngFor="let session of group.sessions" (click)="showAllStudents(session)">
                <span class="leftElement">{{getSessionDate(session.startTime)}} {{getStartTime(session.startTime)}} - {{getEndTime(session.endTime)}}</span>
                <span class="rightElement">
                  <ion-icon name="arrow-dropright"></ion-icon>
                </span>
              </button>
            </div>

            <div *ngIf="!group.sessions">
              Currently no sessions dates are scheduled for this group.
            </div>
          </ion-list>
        </ion-card-content>
      </ion-card>

  </ion-row>
  <div class="clear"></div>
</ion-content>

