<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{CONSTANTS.STUDENT_STATUS.TITLE_EXTENDED}} {{group.number}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <div *ngFor="let student of students">

      <ion-item *ngIf="student.missingAttendances <= CONSTANTS.STUDENT_STATUS.NUMBER_OF_MISSING_ATTENDANCES">
        <ion-icon item-start ios="ios-contact" md="md-contact" color="primary"></ion-icon>
        <span class="leftElement">
        {{student.name}}
      </span>
        <span class="rightElement">
        {{student.missingAttendances}}/{{CONSTANTS.STUDENT_STATUS.NUMBER_OF_MISSING_ATTENDANCES}}
      </span>
      <ion-icon item-end name="checkmark-circle-outline" color="green"></ion-icon>
      </ion-item>

      <ion-item *ngIf="student.missingAttendances > CONSTANTS.STUDENT_STATUS.NUMBER_OF_MISSING_ATTENDANCES">
          <ion-icon item-start ios="ios-contact" md="md-contact" color="primary"></ion-icon>
        <span class="leftElement">
        {{student.name}}
      </span>
        <span class="rightElement">
        {{student.missingAttendances}}/{{CONSTANTS.STUDENT_STATUS.NUMBER_OF_MISSING_ATTENDANCES}}
      </span>
      <ion-icon item-end name="close-circle" color="danger"></ion-icon>
      </ion-item>

    </div>
  </ion-list>
</ion-content>
