<ion-header></ion-header>
<ion-content padding class="background">
    <div align="center" style="display:block; margin:auto;">
        <img width="200" src="assets/imgs/Trackie-small.png" />
      </div>
</ion-content>
<ion-footer>
      <ion-card bottom no-border no-shadow>
        <ion-card-header no-shadow>
          <ion-segment [(ngModel)]="step">
            <ion-segment-button value="login">
              Login
            </ion-segment-button>
            <ion-segment-button value="signup">
              Sign up
            </ion-segment-button>
          </ion-segment>
        </ion-card-header>
        <ion-card-content>
          <!-- login -->
          <form (ngSubmit)="login()" *ngIf="step == 'login'">
            <ion-item no-lines>
              <ion-input type="text" placeholder="{{CONSTANTS.LOGIN.USERNAME}}" name="username" [(ngModel)]="username"></ion-input>
              <ion-icon item-left name="contact"></ion-icon>
            </ion-item>
            <br />
            <ion-item>
              <ion-input type="password" placeholder="{{CONSTANTS.LOGIN.PASSWORD}}" name="password" [(ngModel)]="password"></ion-input>
              <ion-icon item-left ios="ios-lock" md="md-lock"></ion-icon>
            </ion-item>
            <p *ngIf="wrongDataEntered && step == 'login'">
              <span ion-text color="danger">The entered login name or the password is incorrect.</span>
            </p>
            <br/>
            <button style="height:48px" ion-button type="submit" block>Login</button>
          </form>
          <!-- signup -->
          <form (ngSubmit)="signup()" *ngIf="step == 'signup'">
            <ion-item>
              <ion-input type="text" placeholder="{{CONSTANTS.SIGNUP.FIRST_NAME}}" name="firstname" [(ngModel)]="firstname"></ion-input>
              <ion-icon item-left name="contact"></ion-icon>
            </ion-item>
            <br />
            <ion-item>
              <ion-input type="text" placeholder="{{CONSTANTS.SIGNUP.LAST_NAME}}" name="lastname" [(ngModel)]="lastname"></ion-input>
              <ion-icon item-left name="contact"></ion-icon>
            </ion-item>
            <br />
            <ion-item>
              <ion-input type="text" placeholder="{{CONSTANTS.SIGNUP.EMAIL}}" name="email" [(ngModel)]="email"></ion-input>
              <ion-icon item-left ios="ios-mail" md="md-mail"></ion-icon>
            </ion-item>
            <br />
            <ion-item>
              <ion-input type="password" placeholder="{{CONSTANTS.SIGNUP.PASSWORD}}" name="password" [(ngModel)]="password"></ion-input>
              <ion-icon item-left ios="ios-lock" md="md-lock"></ion-icon>
            </ion-item>
            <br />
            <p *ngIf="missingData && step == 'signup'">
                <span ion-text color="danger">{{missingDataText}}</span>
              </p>
            <button style="height:48px" ion-button type="submit" block>Sign up</button>
          </form>
        </ion-card-content>
      </ion-card>
      <br /><br /><br /><br />
</ion-footer>