<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{CONSTANTS.HOME.TITLE}}</ion-title>
  </ion-navbar>
</ion-header>
<!-- Content will be replaced by Constants soon -->
<ion-content class="card-background-page">

    <ion-card>
      <img src="img/ase_back3.jpg"/>
      <div class="card-title">Advanced Topics of Software Engineering <br> WS 17/18</div>
    </ion-card>

  <!-- student view -->
    <ion-card *ngIf="user.type === 'STUDENT'">
      <ion-card-header>
        Information
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-icon name="school"></ion-icon>
          Pretschner, Alexander, Prof. Dr. <br>
        </p>
        <p>
          <ion-icon name="time"></ion-icon>
          Monday, 12:00 - 14:00
        </p>
        <p>
          Friday, 08:00 - 10:00
        </p>
        <br>
        <p *ngIf="registeredGroup && registeredGroup.number">
          <ion-icon name="people"></ion-icon>
          You are in the tutorial group {{registeredGroup.number}}. <br>
          <button ion-button secondary menuToggle (click)="showGroupDetails()" small>Show group details</button>
        </p>
        <p *ngIf="!registeredGroup">
          <ion-icon name="people"></ion-icon>
          You are currently not registered for a tutorial group.
          <br>
          <button ion-button secondary menuToggle (click)="navigateToGroupList()" small>Join a group</button>
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="user.type === 'STUDENT' && registeredGroup && registeredGroup.number">
      <ion-card-content>
          <button ion-button block large (click)="getNextQRCode()">Get Attendance Token</button>
      </ion-card-content>
    </ion-card>

  <!-- tutor view -->
  <ion-card *ngIf="user.type === 'INSTRUCTOR'">
    <ion-card-header>
      Information
    </ion-card-header>
    <ion-card-content>
      <p *ngIf="registeredGroup && registeredGroup.number">
        <ion-icon name="people"></ion-icon>
        You are assigned to the tutorial group {{registeredGroup.number}}. <br>
        <button ion-button secondary menuToggle (click)="showGroupDetails()" small>Show group details</button>
      </p>
      <p *ngIf="!registeredGroup">
        <ion-icon name="people"></ion-icon>
        You are currently not assigned to a tutorial group.
      </p>
      <p>
        <button ion-button round outline (click)="started ? endSession() : startSession()">
            {{sessionButtonCaption}}
        </button>
      </p>


    </ion-card-content>
  </ion-card>
</ion-content>
