<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{CONSTANTS.HOME.TITLE}}</ion-title>
  </ion-navbar>
</ion-header>
<!-- Content will be replaced by Constants soon -->
<ion-content class="card-background-page">

  <!-- student view -->
    <ion-card *ngIf="user.type === 'STUDENT'">
      <ion-card-header>
        Lecture Information
      </ion-card-header>
      <ion-card-content>
        <p>
          <ion-icon name="school"></ion-icon>
          {{CONSTANTS.HOME.LECTURE.PROFESSOR}} <br>
        </p>
        <p>
          <ion-icon name="time"></ion-icon>
          {{CONSTANTS.HOME.LECTURE.DATE[0]}}
        </p>
        <p>
          {{CONSTANTS.HOME.LECTURE.DATE[1]}}
        </p>
        <br>
        <p *ngIf="registeredGroup && registeredGroup.id && registeredGroup.number">
          <ion-icon name="people"></ion-icon>
          {{CONSTANTS.HOME.STUDENT_REGISTERED}} {{registeredGroup.number}}. <br>
          <button ion-button secondary (click)="showGroupDetails()" small>Show group details</button>
        </p>
        <p *ngIf="registeredGroup && !registeredGroup.id">
          <ion-icon name="people"></ion-icon>
          {{CONSTANTS.HOME.STUDENT_NOT_REGISTERED}}
          <br>
          <button ion-button style="width:90%" (click)="navigateToGroupList()" >Join a group</button>
        </p>
      </ion-card-content>
    </ion-card>

    <ion-card *ngIf="user.type === 'STUDENT' && registeredGroup && registeredGroup.number">
      <ion-card-content>
          <button ion-button block large (click)="getNextQRCode()">Get Attendance Token</button>
      </ion-card-content>
    </ion-card>

  <!-- tutor view -->
  
  <ion-list *ngIf="user.type === 'INSTRUCTOR'">
        <ion-card *ngFor="let group of groups">
            <ion-card-content>
              <div align="left"><strong>Group number:</strong> {{group.number}}</div>
              <div align="left"><strong>Day:</strong> {{getDay(group.sessions[0])}}</div>
              <div align="left"><strong>Time slot:</strong> {{getTimeslot(group.sessions[0])}}</div>
              <div align="left"><strong>Room:</strong> {{group.sessions[0].place}}</div>
              <button ion-button round outline color="{{group.buttonColor}}" (click)="group.sessionStarted ? endSession(group) : startSession(group)">
                 {{group.sessionButtonCaption}}
              </button>
              <br />
              <br />   
                  <ion-buttons>
                      <button style="width:45%" ion-button  (click)="goToSessions(group)">
                          Sessions
                      </button>
                      <button style="width:45%" ion-button (click)="goToStudentAbsences(group)">
                          Student absences
                      </button>
                  </ion-buttons>
              
              <!-- <p *ngIf="registeredGroup && registeredGroup.number">
                <ion-icon name="people"></ion-icon>
                {{CONSTANTS.HOME.TUTOR_ASSIGNED}} {{registeredGroup.number}}. <br>
                <button ion-button secondary (click)="showGroupDetails()" small>Show group details</button>
              </p>
              <p *ngIf="!registeredGroup">
                <ion-icon name="people"></ion-icon>
                {{CONSTANTS.HOME.TUTOR_NOT_ASSIGNED}}
              </p>
              <p>
                <button ion-button round outline (click)="started ? endSession() : startSession()">
                    {{sessionButtonCaption}}
                </button>
              </p>
              <p>
                <button ion-button secondary (click)="showStudentStatus()">
                  {{CONSTANTS.HOME.STUDENT_STATUS}}
                </button>
              </p> -->
        
            </ion-card-content>
          </ion-card>
  </ion-list>
</ion-content>
