<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{CONSTANTS.LIST.TITLE}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-list>
    <!--<ion-list-header>
      <ion-row>
        <ion-col>
          {{CONSTANTS.LIST.GROUPNAME}}
        </ion-col>
        <ion-col>
          {{CONSTANTS.LIST.DAY}}
        </ion-col>
        <ion-col >
          {{CONSTANTS.LIST.SLOT}}
        </ion-col>
        <ion-col>
          {{CONSTANTS.LIST.PARTICIPANTS}}
        </ion-col>
        <ion-col>
          {{CONSTANTS.LIST.REGISTRATION_INTERVAL}}
        </ion-col>
        <ion-col>
          {{CONSTANTS.LIST.ACTION}}
        </ion-col>
      </ion-row>
    </ion-list-header>-->
    <div *ngFor="let group of groups">

      <!-- student view -->
      <ion-item *ngIf="user.type === 'STUDENT'" >
        <h2>{{CONSTANTS.LIST.GROUP}} {{group.number}}</h2>
        <p>{{getStartTime(group)}} - {{getEndTime(group)}}</p>
        <button ion-button clear item-end large *ngIf="user.type === 'STUDENT'" (click)="joinGroup(group)" [disabled]="group.number === registeredGroupNumber">
          {{CONSTANTS.LIST.JOIN}}
        </button>
      </ion-item>

      <!-- tutor view -->
      <ion-item *ngIf="user.type === 'INSTRUCTOR' && group.instructor.id === user.id">
        <h2>{{CONSTANTS.LIST.GROUP}} {{group.number}}</h2>
        <p>{{getStartTime(group)}} - {{getEndTime(group)}}</p>
        <button ion-button clear item-end large (click)="showDetails(group)" >
          {{CONSTANTS.LIST.DETAILS}}
        </button>
      </ion-item>

      <!--<ion-row>
        <ion-col>
          {{CONSTANTS.LIST.GROUP}} {{group.number}}
        </ion-col>
        <ion-col>
          {{getDay(group)}}
        </ion-col>
        <ion-col >
          {{getStartTime(group)}} - {{getEndTime(group)}}
        </ion-col>
        <ion-col>
          {{group.students.length}} / {{group.maxNrOfParticipants ? group.maxNrOfParticipants : 32}}
        </ion-col>
        <ion-col>
          07/11/2017 - 01/28/2018
        </ion-col>
        <ion-col>
            <button ion-button (click)="joinGroup(group)" [disabled]="group.number === registeredGroupNumber">
              {{CONSTANTS.LIST.JOIN}}
            </button>
        </ion-col>
      </ion-row>-->
    </div>
  </ion-list>
</ion-content>
